# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
coverage/base.css
coverage/block-navigation.js
coverage/clover.xml
coverage/coverage-final.json
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
PalDex-UI/package-lock.json
PalDex-UI/package.json
PalDex-UI/paldex-ui-1.0.0.tgz
PalDex-UI/tsconfig.json
PalDex-UI/src/index.tsx
PalDex-UI/src/atoms/index.tsx
PalDex-UI/src/atoms/Loader/Loader.css
PalDex-UI/src/atoms/Loader/Loader.tsx
PalDex-UI/src/atoms/PalFrame/PalFrame.css
PalDex-UI/src/atoms/PalFrame/PalFrame.tsx
PalDex-UI/src/atoms/PalStatBar/PalStatBar.css
PalDex-UI/src/atoms/PalStatBar/PalStatBar.tsx
PalDex-UI/src/atoms/SearchBar/SearchBar.css
PalDex-UI/src/atoms/SearchBar/SearchBar.tsx
PalDex-UI/src/atoms/TypeLabel/TypeLabel.css
PalDex-UI/src/atoms/TypeLabel/TypeLabel.tsx
PalDex-UI/src/molecules/index.tsx
PalDex-UI/src/molecules/DynaWrapper/DynaWrapper.css
PalDex-UI/src/molecules/DynaWrapper/DynaWrapper.tsx
PalDex-UI/src/molecules/PalCard/PalCard.css
PalDex-UI/src/molecules/PalCard/PalCard.tsx
