/* .container {
  display: grid;
  grid-template-areas:
    "search search"
    "content content";
  grid-auto-flow: dense;
  margin-top: 5rem;
} */

.container {
  display: flex;
  flex-direction: column;
}

.bottom {
  /* background-color: red; */
  display: flex;
  grid-auto-flow: dense;
}

.top {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3968c0;
  color: white;
  border: none;
  border-radius: 50% 20% 50% 20%;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  border: white 2px solid;
}
