.container {
  display: grid;
  grid-template-areas:
    "search search"
    "content content";
  grid-auto-flow: dense;
  margin-top: 5rem;
}

.search-container {
  grid-area: search;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.content-area {
  grid-area: content;
}

.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}






